<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @company.intro %>
</p>

<p>
  <strong>Idea:</strong>
  <%= @company.idea %>
</p>

<p>
  <strong>Press:</strong>
  <%= @company.press %>
</p>

<p>
  <strong>Walfare:</strong>
  <%= @company.walfare %>
</p>
<!--
<%= link_to 'Edit', edit_company_path(@company) %> -->
<%= link_to 'Back', companies_path %>
